<% content_for :head_include do -%>
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <script type='text/javascript'>
    google.load('visualization', '1', {'packages':['annotatedtimeline'], 'displayZoomButtons':'true'});
    google.setOnLoadCallback(drawChart);

    var chart          = 0;
    var data           = 0;
    var previousRange  = 0;
    var dateline_start = <%= @dateline_start %>;
    var dateline_end   = <%= @dateline_end %>;
    
    function drawChart() {
      $.get("/clicks/get_range", { start_date : dateline_start, end_date : dateline_end },
        function(data){
          eval(data);
          data = new google.visualization.DataTable(JSONObject);
          chart = new google.visualization.AnnotatedTimeLine($('#chart_div')[0]);
          chart.draw(data, {displayAnnotations: true, zoomStartTime: dateline_start, zoomEndTime: dateline_end});
          // bind events
          google.visualization.events.addListener(chart, 'rangechange', rangechanged);
        }
      );
    }

    function rangechanged(event) {
      $.get("/clicks/get_range", { end_date : event.end, start_date : event.start },
        function(data){          
          eval(data);
          data = new google.visualization.DataTable(JSONObject);
          // for event.start is CST time, but when you draw the chart,
          // google will translate the time into UTC.
          var st = event.start;
          var ed = event.end;
          st.setTime(st.getTime() + 8*3600*1000);
          ed.setTime(ed.getTime() + 8*3600*1000);
          chart.draw(data, { displayAnnotations: true, zoomStartTime: st , zoomEndTime: ed });
        }
      );
    }
  </script>
<% end -%>
<div id='chart_div' style='width: 700px; height: 240px;'></div>